<h1>Restaurant: <%= @restaurant.name %></h1>
<p></p>

<p><%= @restaurant.address %></p>
<p><i>Phone number: </i><%= @restaurant.phone_number %>  |
<i>Category: </i><%= @restaurant.category %></p>

<h3>Reviews:</h3>

<ul>
  <% @restaurant.reviews.each do |review| %>
    <li>
      <%= review.content %> | <%= '*' * review.rating %>
    </li>
  <% end %>
</ul>

<%= link_to "Add review", new_restaurant_review_path(@restaurant), class: "btn btn-primary"%>

<%= link_to "Back to all restaurants", restaurants_path, class: "btn btn-warning" %>
