<h1>Add review for restaurant: <%= @restaurant.name %></h1>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating, collection: [0, 1, 2, 3, 4, 5] %>
  <%= f.submit "Add review", class: "btn btn-primary" %>
  <%= link_to "Back to restaurant #{@restaurant.name}", restaurant_path(@restaurant), class: "btn btn-warning" %>
<% end %>
